@import '../Utils/mixin';
@import '../Utils/variables';

.collapse {
    background-color: $background-color;
    border-radius: 5px;
    height: auto;
    max-width: 1023px;

    @include margin-body(20px, auto, 0, auto);

    @include small {
        @include margin-body(23.6px, auto, 0, auto);
    }

    @include tablette {
        @include margin-body(27.2px, auto, 0, auto);
    }

    @include desktop {
        @include margin-body(31px, auto, 0, auto);
    }

    @include big-desktop {
        @include margin-body(34.6px, auto, 0, auto);
    }

    &-visible {
        border-radius: 5px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        padding-left: 11px;
        padding-right: 7px;
        cursor: pointer;

        @include small {
            height: 35.6px;
            padding-left: 13.3px;
            padding-right: 15.3px;
        }

        @include tablette {
            height: 41.2px;
            padding-left: 15.6px;
            padding-right: 23.6px;
        }

        @include desktop {
            height: 47px;
            padding-left: 18px;
            padding-right: 32px;
        }



        h2 {
            font-weight: 500;
            font-size: 13px;
            color: $secondary-color;

            @include small {
                font-size: 16.6px;
            }

            @include tablette {
                font-size: 20.2px;
            }

            @include desktop {
                font-size: 24px;
            }
        }

        .chevron {
            color: $secondary-color;
            height: 15.2px;
            transform: rotate(180deg);
            transition: 0.4s ease-in-out;

            @include small {
                height: 18.1px;
            }

            @include tablette {
                height: 21px;
            }

            @include desktop {
                height: 23.9px;
            }
        }

        .chevron-rotate {
            transform: rotate(0deg);
            transition: 0.4s ease-in-out;
        }
    }

    &-toggle {
        opacity: 0;
        transition:
            opacity 0.4s ease-in-out,
            height 0.4s 0.4s ease-in-out;

        .description {
            pointer-events: none;
            font-size: 12px;
            padding: 23px 7px 23px 11px;
            line-height: 17.11px;

            @include small {
                font-size: 16px;
                padding: 27.3px 13.6px 27.3px 13.3px;
                line-height: 22.81px;
            }

            @include tablette {
                font-size: 20px;
                padding: 31.6px 20.2px 31.6px 15.6px;
                line-height: 28.51px;
            }

            @include desktop {
                font-size: 24px;
                padding: 36px 27px 36px 18px;
                line-height: 34.22px;
            }

            @include big-desktop {
                font-size: 28px;
                line-height: 39.91px;
            }
        }
    }

    .animated {
        opacity: 1;
        transition:
            height 0.4s ease-in-out,
            opacity 0.4s 0.4s ease-in-out;

    }
}