@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin small {
    @media screen and (min-width: 500px) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin content {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin margin-body ($margin-top, $margin-right, $margin-bottom, $margin-left) {
    margin: $margin-top $margin-right $margin-bottom $margin-left;
}

@mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
}